* {
    outline: none;
}

body {
    overflow-x: hidden;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

a {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: rgb(17, 85, 204);
    text-decoration: none;
}

form {
    padding: 0;
    margin: 0;
}

input[type="text"] {
    -webkit-border-radius: 2px;
    border: 1px solid #bfbfbf;
    padding: 5px;
}

input[type="text"]:focus {
    border-color: rgb(17, 85, 204);
}

.select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
    background-image: linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #aaa;
    color: #555;
    font-size: 12px;
    margin: 0;
    overflow: hidden;
    padding: 3px 20px 3px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select:hover {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
    color: #333;
}

.select:active {
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
    color: #444;
}

.tip-holder {
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 0 4px #ddd;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    font-size: 11px;
    display: block;
    padding: 7px 9px;
    z-index: 3;
}

.tip-holder .tip-title {
    padding-bottom: 2px;
    display: block;
    color: #333;
}

.tip-holder .tip-text {
    color: #4d6a9f;
    display: block;
}

.button {
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
    background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    border: 1px solid #aaa;
    color: #555;
    padding: 10px 14px;
    font-size: 14px;
    cursor: pointer;
}

.button:hover {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
    border-color: #999;
    color: #222;
}

.button:active {
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
    color: #333;
}

#navigation-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 170px;
}

#navigation-menu h1, #main-table h1 {
    color: #5C6166;
    font-weight: normal;
    font-size: 18px;
    margin: 20px 0 10px 23px;
}

#main-table h1 {
    margin-top: 20px;
    margin-left: 0;
}

#navigation-menu ul {
    margin: 15px 0 0 0;
    padding: 0;
}

#navigation-menu ul li {
    list-style-type: none;
}

#navigation-menu ul li a {
    border-left: 6px solid #fff;
    height: 29px;
    display: block;
    font-size: 12px;
    line-height: 30px;
    padding-left: 18px;
    color: #999;
}

#navigation-menu ul li a.selected {
    border-color: #4E5764;
    color: #5C6166;
}

#history-container {
    margin: 0 10px 10px 180px;
    display: block;
}

#alert-holder {
    background: url('../images/alert-bg.png');
    position: fixed;
    display: none;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#alert-holder #alert-holder-loading {
    position: absolute;
    margin: -15px 0 0 -15px;
    left: 50%;
    top: 50%;
}

#alert-holder #pacman-iframe {
    position: absolute;
    margin: -160px 0 0 -277px;
    display: none;
    width: 554px;
    height: 186px;
    left: 50%;
    top: 50%;
}

.item-holder {
    display: block;
    position: relative;
    padding: 5px;
}

.item {
    display: block;
    white-space: nowrap;
    clear: both;
    float: left;
}

.item .checkbox, .item .bookmark, .item .pin, .item .time {
    display: block;
    float: left;
}

.item .checkbox {
    margin: 0 10px 0 0;
    padding-left: 13px;
}

.item .checkbox label input {
    padding: 0;
    margin: 0;
}

.item .checkbox label {
    display: block;
    position: absolute;
    padding: 1px 5px 2px 5px;
    left: 3px;
    top: 3px;
}

.item .bookmark, .item .pin {
    margin: 0 15px 0 9px;
    padding-left: 8px;
}

.item .bookmark {
    background: url('../images/star-grey.png') no-repeat left center;
}

.item .pin {
    background: url('../images/pin-grey.png') no-repeat left center;
}

.item .time {
    margin: 0 19px 0 0;
    color: #999;
}

.item .link {
    text-decoration: none;
    position: relative;
    padding: 0 0 0 18px;
}

.item .favicon {
    position: absolute;
    left: 0;
    top: 0;
    height: 16px;
    width: 16px;
}

.item .title {
    overflow: hidden;
    padding: 0 0 1px 3px;
    color: rgb(17, 85, 204) !important;
}

.item .title:hover {
    text-decoration: underline;
}

.bookmarked, .pinned {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.group-title {
    position: relative;
}

.group-title-toggle {
    background: url('../images/toggle.png') no-repeat left center;
    display: block;
    position: absolute;
    height: 12px;
    width: 12px;
    left: 8px;
    top: 8px;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .group-title-toggle {
        background: url('../images/toggle-@2x.png') no-repeat left center;
        background-size: 200%;
    }
}


label.group-title-toggle-count {
    left: 39px;
    display: block;
    position: absolute;
}

.group-title-checkbox {
    position: absolute;
    height: 12px;
    width: 12px;
    left: 36px;
    top: 5px;
}

.group-title-favicon {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 69px;
    top: 6px;
}

.group-title-host {
    cursor: pointer;
    padding-left: 85px;
    font-weight: bold;
    color: #333;
}

.no-results span {
    background: url('../images/remove.png') no-repeat left center;
    padding-left: 20px;
}

#main-table {
    border-spacing: 0;
    padding: 0;
    width: 100%;
}

#rh-search-form {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
}

#search {
    text-align: right;
}

#rh-search {
    margin-top: 0;
    width: 153px;
    border: 1px solid #bfbfbf;
    height: 18px;
    padding: 3px 5px;
}

#rh-search:focus {
    border-color: rgb(17, 85, 204);
}

#rh-what {
    height: 26px;
    padding: 4px 20px 4px 10px;
    margin-right: 3px;
}

#rh-bar {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    position: relative;
    font-size: small;
    font-weight: bold;
    margin-top: 9px;
    display: block;
    padding: 4px 5px;
}

#rh-bar-uione {
    position: absolute;
    padding: 3px;
    left: 1px;
    top: -1px;
}

#rh-bar-group, #rh-bar-orderby, #rh-bar-order {
    display: block;
    height: 17px;
    width: 24px;
    position: absolute;
    top: 3px;
}

#rh-bar-group {
    background: url('../images/group-toggle.png') no-repeat left center;
    right: 62px;
}

#rh-bar-orderby {
    background: url('../images/orderby-toggle.png') no-repeat left center;
    right: 33px;
}

#rh-bar-order {
    background: url('../images/order-toggle.png') no-repeat left center;
    right: 4px;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    #rh-bar-group {
        background: url('../images/group-toggle-@2x.png') no-repeat left center;
        background-size: 200%;
    }
    #rh-bar-orderby {
        background: url('../images/orderby-toggle-@2x.png') no-repeat left center;
        background-size: 200%;
    }
    #rh-bar-order {
        background: url('../images/order-toggle-@2x.png') no-repeat left center;
        background-size: 200%;
    }
}

#rh-clear-search {
    padding-right: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #bfbfbf;
}

#rh-clear-search:hover {
    color: #fc615c;
}

#rh-views-tube {
    display: block;
    margin: 10px 0 30px 0;
}

#rh-views-insert {
    display: inline;
}

#rh-views-search-insert {
    display: none;
}

#calendar {
    -webkit-box-shadow: 0 0 5px #ccc;
    background-color: #fff;
    text-align: center;
    border: 1px solid #bfbfbf;
    font-size: 12px;
    padding: 6px 6px 10px 6px;
    overflow: hidden;
    position: absolute;
    display: block;
    width: 170px;
    right: 15px;
    top: 129px;
    z-index: 2;
}

#history-container .calendar2 {
    position: fixed;
    top: 59px;
}

#calendar #delete-range-one, #calendar #delete-range-two {
    margin-bottom: 5px;
    width: 142px;
    text-align: center;
}

#calendar #delete-range-button {
    margin-top: 6px;
}

#calendar #delete-range-toggle-button {
    display: block;
    position: absolute;
    background: url('../images/drtb.png') no-repeat left top;
    width: 17px;
    height: 35px;
    left: -1px;
    bottom: 10px;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    #calendar #delete-range-toggle-button {
        background: url('../images/drtb-@2x.png') no-repeat left center;
        background-size: 200%;
    }
}

#calendar #calendar-table {
    border-spacing: 0;
    padding: 0;
    width: 336px;
    float: right;
}

#calendar #calendar-table td {
    vertical-align: top;
    width: 168px;
}

#calendar #calendar-nav {
    display: block;
    margin-bottom: 6px;
    text-align: center;
    width: 168px;
    clear: both;
}

#calendar-nav .select {
    padding: 3px 17px 3px 7px;
}

#calendar #calendar-freq {
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #eee;
    padding: 8px 0 6px 0;
    display: block;
    margin-top: 6px;
    clear: both;
}

.retina {
    display: none;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .retina {
        display: inline-block;
        height: auto;
        width: 100%;
    }
    .non-retina {
        display: none;
    }
}

#calendar #calendar-total {
    display: block;
    margin-top: 6px;
    clear: both;
}

#calendar .day {
    border-top: 1px solid #eee;
    line-height: 26px;
    display: block;
    height: 25px;
    width: 24px;
    float: left;
}

#calendar a.day:hover {
    background-color: #f3f3f3 !important;
    color: #000 !important;
}

#calendar #selected {
    font-weight: bold;
    text-decoration: underline;
    color: #000;
}

#calendar-delete {
    display: block;
    border-top: 1px solid #eee;
    padding-top: 6px;
    margin-top: 6px;
}

/***** Date Picker *****/

.dp_container {
    position: absolute;
    margin: -1px 0 0 5px;
    padding: 0;
    z-index: 500;
}

.dp_container select {
    width: auto !important;
}

.dp_cal {
    background-color: #fff;
    border: 1px solid #bfbfbf;
    position: absolute;
    width: 177px;
    top: 24px;
    left: 0;
    margin: 0px 0px 3px 0px;
}

.dp_cal table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.dp_cal select {
    margin: 2px 3px;
    font-size: 11px;
}

.dp_cal select option {
    padding: 1px 3px;
}

.dp_cal th, .dp_cal td {
    width: 14.2857%;
    text-align: center;
    font-size: 11px;
    padding: 2px 0;
}

.dp_cal th {
    border: 1px solid #f3f3f3;
    border-width: 1px 0;
    color: #999999;
    font-weight: bold;
}

.dp_cal td {
    cursor: pointer;
}

.dp_cal td.dp_roll {
    color: #000;
    background: #f3f3f3;
}

/* must have this for the IE6 select box hiding */

.dp_hide {
    visibility: hidden;
}

.dp_empty {
    background: #eee;
}

.dp_today {
    background: rgb(17, 85, 204);
}

.dp_selected {
    color: #fff;
    background: rgb(17, 85, 204);
}

ul.ztree {
    margin-top: 10px;
    max-width: calc(100vw - 170px);
    overflow-x: auto;
}

#history-container .ztree li {
    padding-top: 5px;
}

#history-container .ztree * {
    box-shadow: none;
}

#header-text {
    height: 26px;
}

div[rel="white"] {
    background-color: #fff;
}

div[rel="grey"] {
    background-color: #fafafa;
}


/* .closed_list a.level0 span:first-child,.closed_list a.level1 span:first-child  */
.closed_list a > span.ico_open , .closed_list a > span.ico_close
{
    display: none !important;
}


@media (prefers-color-scheme: dark) {
    div[rel="white"] {
        background-color: #555;
    }
    div[rel="grey"] {
        background-color: #444;
    }
    body {
        background: none;
        background-color: rgb(74, 74, 74);
        color: #fafafa;
    }
    img {
        filter: brightness(0.8);
    }
    #main-table .ztree li a {
        color: #e9e9e9;
        padding: 3px 0px;
    }
    h2, #navigation-menu h1, #main-table h1 {
        color: #fff;
        border-bottom: 1px solid #999;
    }
    #navigation-menu ul li a {
        border-left: 6px solid rgb(74, 74, 74);
        color: #aaa;
    }
    #navigation-menu ul li a.selected {
        border-color: #999;
        color: #fff;
    }
    #options, #options-tabs .tab, #calendar {
        background-color: #666;
        border-top: 1px solid #999;
        border: 1px solid #aaa;
        color: #fff;
    }
    #tab-options-content label, a, .group-title-host, #popup-footer-right a {
        color: burlywood;
    }
    hr {
        background-color: #999;
    }
    #popup input, #options input, #history-container input, .slider, select, #calendar select, #main-table select, #rhlistorder li, .dp_cal {
        background-color: rgb(128, 128, 128);
        background-image: none;
        color: #fff;
    }
    #rh-bar {
        border-top: 1px solid #666;
        border-bottom: 1px solid #666;
    }
    #rh-views-insert .item-holder {
        background-color: rgb(74, 74, 74) !important;
    }
    .item .title {
        color: #fff !important;
    }
    .group-title-toggle {
        background: url(../images/toggle2.png) no-repeat left center;
    }
    #calendar #selected {
        color: #fff;
    }
    #alert-holder {
        background: #222;
    }
    .item:hover {
        background-color: #666 !important;
    }
    #rh-views .ztree li a.curSelectedNode {
        background-color: #000;
    }
}

#showCalendar{
    display: none;
}

@media screen and (max-width:500px)
{

    #history-container, #options{
        margin-left: 20px !important;
        /* margin-top: 180px;         */
    }

    #navigation-menu {
        position: relative;
    }

    #showCalendar{
        display: inline;
    }

    #history-container #calendar {
/*         position: absolute  !important; */
        top: 19px  !important;
        /* /* left: 130px; */
    }

    ul.ztree {
        max-width: 100%;
    }



}