
h2 {
  direction: rtl;
  text-align: right;
}

.cell-left, #navigation-menu ul li {
  text-align: right;
}

.help-tip {
  margin-right: 3px;
}

#rhlistorder li {
  background-position: 6px 6px;
  text-align: right;
}

#rhitemstyle-title {
  text-align: left;
}

#tab-translations-content {
  text-align: right;
  direction: rtl;
}

#tab-about-content #rh-about-extension, #tab-about-content ol {
  text-align: right;
  direction: rtl;
}

#options {
  float: right;
  margin: 52px 180px 20px 0;
}

#options-tabs {
  right: auto;
  left: 12px;
}

#options-tabs .tab {
  float: right;
  margin-left: 0;
  margin-right: 5px;
}

#navigation-menu {
  left: auto;
  right: 0;
}

#navigation-menu h1 {
  text-align: right;
  direction: rtl;
  margin-left: 0;
  margin-right: 23px;
}

#navigation-menu ul li a {
  border-right: 6px solid #FFF;
  border-left: 0 none;
  padding-left: 0;
  padding-right: 18px;
}

#save-holder {
  text-align: right;
}
